DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_CHANNEL_NEWS=
DISCORD_CHANNEL_VAGAS=
DISCORD_CHANNEL_DESAFIOS=
DISCORD_CHANNEL_ANUNCIOS=
DISCORD_CHANNEL_APRESENTACOES=
DISCORD_ROLE_CRAFTER=
INTERNAL_WEBHOOK_SECRET=
DATABASE_URL=
NODE_ENV=development
